:root {
  --bg-color: #20293a;
  --bg-color-2: #121826;
  --white: #fff;
}

h1,
h3,
h4 {
  color: var(--white);
}
body {
  overflow-x: hidden;
}

/* Intro Section */
.intro-body {
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--white);
}

.identity {
  margin: auto;
  padding: 100px;
  text-align: center;
}

/* Find Item Section */

.fsection {
  padding: 50px 20px;
  background-color: var(--bg-color);
}

.form-label {
  color: var(--white);
}

.form-control {
  margin: 0 0 20px 0;
}

.location-btn {
  margin: 10px 0 0 10px;
}

/* .item-info {
    margin: 0 20px;
} */

.item-location {
  margin: 10px 0;
}

.post-btn {
  width: 30%;
  margin: 10px;
}

/* Posts Section  */

.posts-list {
  margin: 10px 0;
}

.post-card {
  margin: 10px 10px;
  width: 15rem;
}
.FormBack {
  width: 100%;
  background-color: #20293a;
  height: 900px;
}
.form-box {
  width: 30%;
  max-width: 100%;
  padding: 10px;
  height: 750px;
  margin: auto;
  overflow: hidden;
  color: white;
}
.button-box {
  width: 290px;
  margin: 35px auto;

  position: relative;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  color: white;
  outline: none;
  border: 0;
  position: relative;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 125px;
  height: 100%;
  background: var(--bg-color-2);
  border-radius: 30px;
  transition: 0.5s;
}

.inputG {
  top: 180px;
  position: absolute;
  max-width: 380px;
  max-height: 600px;
  transition: 0.5s;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--bg-color-2);
  padding: 30px;
  border-radius: 10px;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px auto;
  border-width: 0 0 0 1px;
  border-bottom: solid #999;
  border-radius: 5px;
}
.sumbit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0 auto;
  background: var(--bg-color);
  border: 0;
  outline: none;

  font-size: large;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
#LostForm {
  position: relative;
  top: auto;
  margin-top: 40px;
}

#FoundForm {
  position: relative;
  left: 100%;
  top: -100%;
  margin-top: 130px;
}

#FoundFB {
  color: gray;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}
.file-input label {
  display: block;
  position: relative;
  width: 110px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(40deg, #6e84ff, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.inputG label {
  font-weight: 300;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* .sumbit-btn:hover, .file-input label:hover {
    background: linear-gradient(40deg, #4e68fc, #6965f5);
  } */
.LostPosts {
  background-color: #121826;
  height: fit-content;
  border: solid;
}
.Card {
  margin: 20px;
  max-width: 350px;
}

